bs4
configparser
dash==0.21.0
dash-renderer==0.12.1
dash-html-components==0.10.0
dash-core-components==0.22.1
graphviz==0.8.2
h5py
matplotlib==2.1.0
mailer==0.8.1
mglearn==0.1.6
mlxtend==0.9.1
numpy==1.13.3
pandas==0.20.3
patsy==0.5.1
plotly==4.8.0
requests>=2.20.0
sas7bdat
scipy==1.2.0
seaborn==0.9.0
sklearn==0.0
sqlalchemy
statsmodels
tox==3.18.0
tweepy
urlopen
